:root {
  --white: #e1e1e6;
  --black: #121214;
  --black-2: #17171a;
  --black-3: #18181f;
  --yellow: #FFCD1E;
  --pink: #FF0080;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  color: #e1e1e6;
  background: #121214;
}